
body{
    background-color: black;
    text-align: center;
    font-family: Monospace;
    color: rgb(230, 232, 160);
    width: 100%;
    margin-left: 0%;
    align-self: center;
    padding: 1;
}
h1{
    font-family: 'Style Script', Fantasy;
    color: rgb(100, 187, 12);
}

hr {
    width: 100px;
    border: none;
    border-top: dotted;
    border-width: 8px;
    border-color: #c2d6d6;
  }
.blue{
    background-color: rgb(27, 25, 24);
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0;
}
.btn{
    background-color: rgb(137, 119, 161);
    border-radius:40%;
    border: 0;
    color: white;
    height: 30px;
    width: 200px;
}
.btn:hover{
    background-color: black;
    color:rgb(205, 177, 223) ;
}
.mid{
    background-color: rgb(137, 119, 161);
    margin: 0;
    color: white;
}
.midhead{
    margin: 0;
    padding-top: 3%;
}
.midpara{
    margin-bottom: 0;
    padding-bottom: 3%;
}
